.card{
    background: gold;
    border: 5px solid darkgoldenrod;
    border-radius: 15px;
    width: 300px;
    height: 400px;
    margin: 20px 0;
    padding: 20px;
    background-image: url(https://wallpaper.dog/large/10711176.jpg);
}

.cardBackground{
    height: 475px;
    width: 370px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.attacks {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    overflow: auto;
    height: 200px;
    font-size: 8px;
}



.hpStyle{
    color: rgb(245, 14, 14);
}

.pokemonImage {
    display: flex;
    justify-content: center;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 8px rgba(17, 2, 2, 0.3);  
    padding: 20px;
    background-image: url(https://i.pinimg.com/originals/36/cd/87/36cd8700f3f789b3e1a56f388bbc84a3.jpg);

}

.pokemonType {
    text-transform: capitalize;
    padding-top: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.attacks span {
    font-weight: bold;
    text-transform: capitalize;

}

.attacks p {
    border-bottom: solid 1px black;
    padding-bottom: 1em;
}


.mainContent {
    display: flex;
    align-items: center; 
    justify-content: center;
    
}

.searchButton {
    display: flex;
    align-items: center; 
    justify-content: center;
}

body {
    background-color: black;
}  

.background {
  position: fixed; 
  right: 0; 
  bottom: 0;
  z-index: -1;
  width: 300px;
}

.nextButton, .previousButton {
margin: 50px;
color: white;
font-size: 30px !important;
cursor: pointer;
}

.search {
    padding: 10px;
    width: 250px;
}

.searchIcon {
    padding: 10px 10px 10px;
    cursor: pointer;
}



/*text-transform: capitalize;*/